@import '../../node_modules/bootstrap/scss/bootstrap';

$primary:       #1D1A39;
$secondary:     #451952;
$success:       #662549;
$info:          #F39F5A;
$warning:       #AE445A;
$danger:        $red;
$light:         #E8BCB9;
$dark:          $gray-900;

