// --------------------- COLORS ------------------------ //
$primary:       #F5F5F5;
$secondary:     #575757;
$text:          #000000;
$highlight:     #f5c014;
$error:         #772E25;

header {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .horizontalLine{
        background-color: $text;
        width: 50px;
        height: 5px;
        justify-self: center;
        align-self: center;
    }
}

.mainHeader {
    background-size: cover;
    background-image: url(../assets/background.svg);
    background-repeat: no-repeat;
    background-position: center;

    .headerContent {
        height: 100vh;

        h1 {
            overflow: hidden;
            border-right: .15em solid $highlight;
            white-space: nowrap;
            letter-spacing: .02em;
            animation:
                    typing 2s steps(30, end),
                    blink-caret .75s step-end infinite;
    
            span {
                color: $highlight;
            }
        }
    
        @keyframes typing {
            from { width: 0 }
            to { width: 100%; }
        }
    
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: $highlight; }
        }

    }


}

.navbar{
    background-color: $primary;


    .navItem{
        margin: 50px;
        font-size: 25px;
        text-decoration: none;
        color: $text;

        &:hover{
            color: $highlight;
        }
        
    }

    a {
        color: #d22626;
        text-decoration: none;
        font-size: 24px;
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        background: #946868;
        height: 1px;
      }
      
      &.link1 {
        &:after {
          width: 0%;
          -webkit-transition: width 300ms ease;
          -moz-webkit-transition: width 300ms ease;
          transition: width 300ms ease;
        }
    
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
}}

.polygon{
    border-radius: 41% 59% 36% 64% / 51% 25% 75% 49%;
    background-color: $highlight;
    height: 200px;
    width: 200px;

    i {
        font-size: 50px;
        color: $primary;
    }
}

.footerContainer{
    background-color: $secondary;
}

#picture{
    background-image: url("ownPicture.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
}